<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
        <title>ComputerStore: {{title}}</title>
    {% else %}
        <title>ComputerStore</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endwith %}
    <div class="container" style="padding-top: 6px; padding-bottom: 6px;">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{{url_for('index')}}">ComputerStore</a>
                <ul class="nav">
                    <li class="active"><a href="{{url_for('index')}}">Главная</a></li>
                    {% if current_user.is_authenticated() %}
                        <li>
                            <a href="{{ url_for('current_client_case', id=current_user.id) }}">
                                Личный кабинет
                            </a>
                        </li>
                    {% endif %}
                    {% if current_user.is_authenticated() %}
                        {% if current_user.role == 1 %}
                            <li>
                                <a href="{{ url_for('admin_panel') }}">
                                    Кабинет администратора
                                </a>
                            </li>
                        {% endif %}
                        <li><a href="{{url_for('logout')}}">Выход</a></li>
                    {% else %}
                        <li><a href="{{url_for('login')}}">Войти</a></li>
                        <li><a href="{{url_for('signin')}}">Регистрация</a></li>
                    {% endif %}
                    {% if consist_case %}
                        <li>
                            <div style="padding-left: 100px;" align="right">
                                {% if consist_case[1] != 0 %}
                                    <h4>
                                        В корзине
                                            <b><u>{{ consist_case[1] }}</u></b>
                                                    {% if consist_case[0] > 9 %}
                                                        товаров на
                                                    {% else %}
                                                        товара на
                                                    {% endif %}
                                            <b><u> {{ consist_case[0] }} </u></b> руб.
                                    </h4>
                                {% else %}
                                    <h4>
                                        Корзина пуста
                                    </h4>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div>
        {% block content %} {% endblock %}
    </div>
</body>
</html>