{% extends "base.html" %}

{% block content %}
    <div style="padding-left: 30px;">
    <div style="padding-left: 20px;" clas="span11"><h4>Совершенные покупки:</h4></div>
    <table class="span12 table table-bordered table-stripped">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Email</td>
            <td>Дата, время</td>
            <td>Id товара</td>
            <td>Название товара</td>
            <td>Тип товара</td>
            <td>Цена товара</td>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[3].first_name }}</td>
                <td>{{ transaction[4].second_name }}</td>
                <td>{{ transaction[1].email }}</td>
                <td>{{ transaction[0].time }}</td>
                <td>{{ transaction[1].id }}</td>
                <td>{{ transaction[2].name }}</td>
                <td>{{ get_type(transaction[2].type) }}</td>
                <td>{{ transaction[2].price }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <div>
    <div style="padding-left: 20px;" clas="span11"><h4>Зарегистрированные пользователи:</h4></div>
    <table class="span12 table table-bordered table-stripped">
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Email</td>
            <td>Телефон</td>
            <td>Номер счета</td>
            <td>Баланс на счету</td>
            <td>Действия</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user[0].id }}</td>
                <td>{{ user[1].first_name }}</td>
                <td>{{ user[2].second_name }}</td>
                <td>{{ user[0].email }}</td>
                <td>{{ user[0].telephone }}</td>
                <td>{{ user[3].el_address }}</td>
                <td>{{ user[3].balance }}</td>
                <td>
                    {% if user[0].role == 0 %}
                        <div>
                            <a class="btn btn-primary" href="{{ url_for('admin_user_delete', id=user[0].id) }}">
                                Удалить пользователя
                            </a>
                        </div>
                    {% endif %}
                    {% if current_user.role == 1 %}
                        <div>
                            <a class="btn btn-primary" href="{{ url_for('user_add_balance', id=user[0].id) }}">
                                Начислить бонус
                            </a>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('index') }}">
                        Вернуться в каталог
                    </a>
                </td>
            </tr>
    </table>
    <div>
{% endblock %}