{% extends "base.html" %}

{% block content %}
    <div style="padding-left: 30px;">
    <div style="padding-left: 20px;" clas="span11"><h4>Сделка совершена:</h4></div>
    <table class="span12 table table-bordered table-stripped">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Email</td>
            <td>Дата, время</td>
            <td>Id товара</td>
            <td>Название товара</td>
            <td>Тип товара</td>
            <td>Цена товара</td>
        </tr>
        <tr>
            <td>{{ user[2].first_name }}</td>
            <td>{{ user[3].second_name }}</td>
            <td>{{ user[0].email }}</td>
            <td>{{ time }}</td>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ type }}</td>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>
                <a class="btn btn-primary" href="{{ url }}">
                    Вернуться в каталог
                </a>
            </td>
        </tr>
    </table>
    <div>
{% endblock %}