{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div style="padding-left: 30px;" class="row-fluid">
            <div class="span4">
                {% include "menu.html" %}
                <div>
                {% include "searchdialog.html" %}
                </div>
            </div>
            <div class="span7">
                <div style="padding-left: 40px;" class="row-fluid">
                    <div class="pagination">
                        <ul>
                            {% for page in pagination.iter_pages() %}
                                {% if page %}
                                    {% if page != pagination.page %}
                                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="disabled"><a>{{ page }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a>...</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if pagination.has_next %}
                            <ul>
                                <li><a href="{{ url_for_other_page(pagination.page + 1) }}">Next</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div style="padding-left: 20px;">
                    <a href="{{ url_for('change_per_page', on_page=2) }}">по 2 на странице</a>|
                    <a href="{{ url_for('change_per_page', on_page=4) }}">по 4 на странице</a>|
                    <a href="{{ url_for('change_per_page', on_page=6) }}">по 6 на странице</a>
                </div>
                {% if products != [] %}
                    {% for product in products %}
                        {% include "productline.html" %}
                    {% endfor %}
                {% else %}
                    <div>
                        <h3>В данной категории нет товаров!</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}