{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="changerproperty">
        {{ form.hidden_tag() }}
        <input type="hidden" value="{{ csrf_token() }}" name=_csrf_token>
        {% include "productline.html" %}

        <div style="padding-left: 20px;">
            <table width=50% class="table table-bordered table-stripped">
                <tr>
                    <td>Новая цена:</td>
                    <td>
                        {{ form.price(size=20) }}
                        {% for error in form.errors.price %}
                            <i style="color: red;"> {{ error }} </i>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Новое количество товаров:</td>
                    <td>
                        {{ form.count(size=20) }}
                        {% for error in form.errors.price %}
                            <i style="color: red;"> {{ error }} </i>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" value="Изменить сведения о товаре"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% if success %}
                            Сведения о товаре обновлены.
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}