{% extends "base.html" %}

{% block content %}
    {% include "userinfo.html" %}
    <div class="container-fluid">
        <center><h3>Список товаров в корзине:</h3></center>
        <div style="padding-left: 40px" class="row-fluid">
            {% if products %}
                {% for product in products %}
                    {% include "productline.html" %}
                {% endfor %}
            {% else %}
                <h4>Корзина пуста!</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}