<div>
    <table class="table table-stripped table-bordered success">
        <thead>
            <tr>
                <td><b>Комментарии товаров:</b></td>
            </tr>
        </thead>
        {% for comment in comments %}
            <tr>
                <td>Время оставления комментария: {{ comment[0].date }}</td>
                <td><b>Клиент {{ comment[1].nickname }} сказал о товаре</b></td>
                <td>{{ comment[0].body }}</td>
            </tr>
        {% endfor %}
    </table>
    <table class="table table-stripped table-bordered success">
        <form name="add_comment" action="" method="post">
            {{ form.hidden_tag() }}
            <input type=hidden value="{{csrf_token()}}" name=_csrf_token>
                <tr><td><b>Заголовок:</b></td><td>{{ form.header() }}</td></tr><br>
                <tr><td><b>Комментарий:</b></td><td>{{ form.comment() }}</td></tr>
                <td></td><td><input class="btn btn-primary" type="submit" value="Добавить комментирий"></td>
        </form>
    </table>
</div>