<div>
    <h3>Характеристики:</h3>
    <li>Модель: {{ product[2].model }}</li>
    <li>Процессор: {{ product[3].description }}</li>
    <li>Оперативная память: {{ product[4].description }}</li>
    <li>Жесткий диск: {{ product[5].description }}</li>
    <li>Видео карта: {{ product[6].description }}</li>
    <li>Звуковая карта: {{ product[7].description }}</li>
</div>