{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <table class="table table-stripped table-bordered success">
                <tr>
                    <td width="200px">
                        <img width="200px" height="200px" class="img-polaroid" src="{{ url_for('static', filename=product[0].url) }}">
                        <br><br>
                        <a class="btn btn-primary" href="{{ url_for('buy_product', id=product[1].id) }}">Купить товар</a>
                    </td>
                    <td>
                        <ul>
                            <h3>
                                Общее описание:
                            </h3>
                            <li>
                                Название: {{ product[1].name }}
                            </li>
                            <li>
                                Количество: {{ product[1].count }} шт.
                            </li>
                            <li>
                                Цена: {{ product[1].price }} руб.
                            </li>
                            <br>
                            {% include kind %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="control-group">
            {% include "comments.html" %}
        </div>
    </div>
{% endblock %}