{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid" style="padding-left: 50px;">
            <div class="span11 hero-unit">
                <h1>ComputerStore</h1>
                <br>
                <p>
                    Наш магазин занимается продажей высококачественной компьютерной
                    техникой. Которая отвечает требованиям всех мировых стандартов.
                    На нашем сайте вы можите найти все необходимое: от компьютерных мышей до серверов.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{{ url_for('catalog', kind='computer', page=0) }}">
                        Компьютеры
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{{ url_for('catalog', kind='monitor', page=0) }}">
                        Мониторы
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{{ url_for('catalog', kind='keyboard', page=0) }}">
                        Клавиатуры
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{{ url_for('catalog', kind='mouse', page=0) }}">
                        Компьютерные мыши
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{{ url_for('catalog', kind='filter', page=0) }}">
                        Сетевые фильтры
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="{{ url_for('catalog', kind='server', page=0) }}">
                        Серверы
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}