{% extends "base.html"%}

{% block content %}
    <form action="" name="login" method="post" class="form-horizontal">
        {{form.hidden_tag()}}
        <input type=hidden value="{{csrf_token()}}" name=_csrf_token>
        <div class="control-group">
            <label class="control-label" for="inputLogin">Логин</label>
            <div class="controls">
                {{form.nickname(size=40, id="inputLogin", placeholder="введите логин")}}
                {% for error in form.errors.nickname %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Пароль</label>
            <div class="controls">
                {{form.password(size=40, id="inputPassword", placeholder="введите пароль")}}
                {% for error in form.errors.password %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    {{form.remember_me}} Запомнить
                </label>
                <span> </span>
                <input type="submit" class="btn" value="Войти">
                {% if error %}
                    <span style="color:red;">{{error}}</span>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
            </div>
        </div>
    </form>
{% endblock %}