<div style="border:solid 1px rgba(128, 128, 128, 0.40); border-radius: 5px;">
    <ul class="nav nav-list" style="padding-bottom: 5px;">
        <li class="nav-header"><h5>Каталог продукции</h5></li>
        <li class="active">
            <a href="{{ url_for('index') }}">
                <i class="icon-home icon-white">
                </i>
                Домашняя страница
            </a>
        </li>
        <li><a href="{{ url_for('catalog', kind='computer', page=0) }}">Компьютеры</a></li>
        <li><a href="{{ url_for('catalog', kind='server', page=0) }}">Серверы</a></li>
        <li><a href="{{ url_for('catalog', kind='filter', page=0) }}">Фильтры</a></li>
        <li><a href="{{ url_for('catalog', kind='monitor', page=0) }}">Мониторы</a></li>
        <li><a href="{{ url_for('catalog', kind='keyboard', page=0) }}">Клавиатуры</a></li>
        <li><a href="{{ url_for('catalog', kind='mouse', page=0) }}">Компьютерные мыши</a></li>
    </ul>
</div>