<div>
    <h3>Характеристики:</h3>
    <li>Производитель: {{ product[3].name }}</li>
    <li>Разрешение: {{ product[5].width }} X {{ product[5].height }}</li>
    <li>Количество цветов: {{ product[2].countColors }} цв.</li>
    <li>Цвет: {{ product[4].color }}</li>
</div>