<div class="container-fluid">
    <div class="row-fluid">
        <table class="table table-striped table-bordered success">
            <tr>
                <td width="200px">
                    <img class="img-polaroid" width=200px height=200px src="{{ url_for('static', filename=product[1].url) }}">
                </td>
                <td>
                    <ul>
                        <li>
                            Модель: {{ product[0].name }}
                        </li>
                        <li>
                            {% if product[0].count == 0 %}
                                Отсутствует в продаже
                            {% else %}
                                {% if case %}
                                    Количество: 1 шт.
                                {% else %}
                                    Количество: {{ product[0].count }} шт.
                                {% endif %}
                            {% endif %}
                        </li>
                        <li>
                            Цена: {{ product[0].price }} руб.
                        </li>
                        {% if not change %}
                            <li>
                                <a href="{{ urls[product[0].id] }}">Перейти к подробному описанию</a>
                            </li>
                        {% endif %}
                        {% if case %}
                            <li>
                                <a href="{{ url_for('cancel_buy_product', id=product[0].id) }}">
                                    Отказаться от покупки товара
                                </a>
                            </li>
                        {% elif not change %}
                            {% if current_user.role == 1 %}
                                <li>
                                    <a href="{{ url_for('change_property_for_product', id=product[0].id) }}">
                                        Изменить данные о товаре
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </td>
                {% if case %}
                {% elif not change %}
                    <td>
                        <a href="{{ url_for('add_into_case', id=product[0].id) }}" class="btn btn-primary">
                            Добавить в корзину
                        </a>
                        <br><br>
                        <a href="{{ url_for('buy_product', id=product[0].id) }}" class="btn btn-primary">
                            Купить товар
                        </a>
                    </td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>