<form action="" method="post" name="searchdialog" class="form-horizontal">
    {{ form.hidden_tag() }}
    <input value="{{ csrf_token() }}" name=_csrf_token type="hidden">

    <div style="padding-top: 20px;">
        <table class="table table-stripped table-bordered">
            <tr>
                <td>Модель: </td>
                <td>{{ form.model() }}</td>
            </tr>
            <tr>
                <td>Цена от:</td>
                <td>{{ form.price_from() }}</td>
            </tr>
            <tr>
                <td>Цена до:</td>
                <td>{{ form.price_to() }}</td>
            </tr>
            <tr>
                <td>Количество от:</td>
                <td>{{ form.count_from() }}</td>
            </tr>
            <tr>
                <td>Количество до:</td>
                <td>{{ form.count_to(size=10) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary" value="Найти"></td>
            </tr>
        </table>
    </div>
</form>