<div>
    <h3>Характеристики:</h3>
    <li>Производитель: {{ product[3].name }}</li>
    <li>Процессор: {{ product[4].description }}</li>
    <li>Оперативная память: {{ product[5].description }}</li>
    <li>Жесткий диск: {{ product[6].description }}</li>
</div>