{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="signin" class="form-horizontal">
        {{form.hidden_tag()}}
        <input type=hidden value="{{csrf_token()}}" name=_csrf_token>
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Имя</label>
            <div class="controls">
                {{form.firstName(size=40, id="inputFirstName", placeholder="введите имя")}}
                {% for error in form.errors.firstName %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSecondName">Фамилия</label>
            <div class="controls">
                {{form.secondName(size=40, id="inputSecondName", placeholder="введите фамилию")}}
                {% for error in form.errors.secondName %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Пароль</label>
            <div class="controls">
                {{form.password(size=40, id="inputPassword", placeholder="введите пароль")}}
                {% for error in form.errors.password %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputNickname">nickname</label>
            <div class="controls">
                {{form.nickname(size=40, id="inputNickname", placeholder="nickname")}}
                {% for error in form.errors.nickname %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
                {% if nickname %}
                    <span style="color: green;">возможно выбрать nickname: {{nickname}}</span>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Адрес почты</label>
            <div class="controls">
                {{form.email(size=40, id="inputEmail", placeholder="введите адрес почты")}}
                {% for error in form.errors.email %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
                {% if err_email %}
                    <span style="color: green;">{{err_email}}</span>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTelephone">Телефон</label>
            <div class="controls">
                {{form.telephone(size=40, id="inputTelephone", placeholder="введите номер телефон")}}
                {% for error in form.errors.telephone %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
                {% if err_telephone %}
                    <span style="color: green;">{{err_telephone}}</span>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBankCard"> Электронный счет </label>
            <div class="controls">
                {{form.e_address(size=40, id="inputBankCard", placeholder="введите электронный счет")}}
                {% for error in form.errors.e_address %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn-primary" value="Зарегистрироваться">
            </div>
        </div>
    </form>
{% endblock %}