<h3><center>Сведения о пользователе:</center></h3>
<table class="table table-bordered success" style="padding-left: 60px; padding-right: 60px;">
    {% if user %}
        <tr>
            <td><b>Nickname:</b></td>
            <td>{{ user[0].nickname }}</td>
        </tr>
        <tr>
            <td><b>Имя:</b></td>
            <td>{{ user[1].first_name }}</td>
        </tr>
        <tr>
            <td><b>Фамилия:</b></td>
            <td>{{ user[2].second_name }}</td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{ user[0].email }}</td>
        </tr>
        <tr>
            <td><b>Баланс на электронном счету:</b></td>
            <td>{{ user[3].balance }}</td>
        </tr>
        <tr>
            <td><b>Новер телефона:</b></td>
            <td>{{ user[0].telephone }}</td>
        </tr>
        <tr>
            <td><b>Привилегии:</b></td>
            {% if user[0].role == 1 %}
                <td>Admin</td>
            {% else %}
                <td>User</td>
            {% endif %}
        </tr>
    {% endif %}
</table>